<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video-Dashboard</title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <!--Favicon TV-->
    <%= favicon_link_tag 'favicon-tv.ico' %>

</head>
<% if current_user %>
<body>
    
    <!-- Wrapper-->
    <div id="wrapper">
        
        <!-- Navigation -->
            <%= render 'layouts/navigation' %>
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            <%= render 'layouts/topnavbar' %>
            
            <!-- Main view  -->
            <%= yield :main %>

            <!-- Footer -->
            <%= render 'layouts/footer' %>

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    
</body>
<% else %>
  <body class="login">
    <%= yield :login %>
    <%= yield :signup %>
  </body>  
<% end %>
</html>
